In [ ]:
# Name: Aditi M. Chavan
# Panel 2
# PB 54
# Topic: Decision Tree Classifier & Regressor

In [2]:
import numpy as np
import pandas as pd
dataset = pd.read_csv('C:\\Users\\Aditi\\Desktop\\ML\\dt.csv')

In [8]:
X = dataset.iloc[:,:-1] #feature
feature_col = ['age','income','student','credit_rating']
Y = dataset.iloc[:,4] #class tables

from sklearn.preprocessing import LabelEncoder
labelencoder_X = LabelEncoder()

X = X.apply(LabelEncoder().fit_transform) # value transformation: alpha numeric to numeric

from sklearn.tree import DecisionTreeClassifier

regressor = DecisionTreeClassifier(criterion='entropy',max_depth=5,splitter='best') # criterion='entropy' or criterion='gini', max_depth=5 ot max_depth=none, splitter='best or splitter='random
X

# age<30 : 0, 30..40 : 1, >40 :2

    age  income  Student  credit_rating
0     1       0        0              1
1     1       0        0              0
2     0       0        0              1
3     2       2        0              1
4     2       1        1              1
5     2       1        1              0
6     0       1        1              0
7     1       2        0              1
8     1       1        1              1
9     2       2        1              1
10    1       2        1              0
11    0       2        0              0
12    0       0        1              1
13    2       2        0              0

In [10]:
regressor.fit(X,Y) # training of classifier
X_in = np.array([1,1,0,0]) #unseen test data
y_pred = regressor.predict([X_in])
print('Prediction : ',y_pred)

Prediction :  ['no']

In [17]:
# conda install -c anaconda graphviz
# conda install -c conda-forge pydotplus
from sklearn.externals.six import StringIO #rep class labels as str values
from IPython.display import Image
from sklearn.tree import export_graphviz
import pydotplus

dot_data = StringIO()

export_graphviz(regressor,out_file=dot_data,filled=True,rounded=True,special_characters=True,feature_names=feature_col,class_names=['0','1'])
graph = pydotplus.graph_from_dot_data(dot_data.getvalue())
graph.write_png('tree.png')

True

In [21]:
dataset = pd.read_csv('C:\\Users\\Aditi\\Desktop\\ML\\pima-indians-diabetes.csv',header=None)

dataset.head()

   0    1   2   3    4     5      6   7  8
0  6  148  72  35    0  33.6  0.627  50  1
1  1   85  66  29    0  26.6  0.351  31  0
2  8  183  64   0    0  23.3  0.672  32  1
3  1   89  66  23   94  28.1  0.167  21  0
4  0  137  40  35  168  43.1  2.288  33  1

In [24]:
X = dataset.iloc[:,:-1]
# feature_col = ['age','income','student','credit_rating']
Y = dataset.iloc[:,8]
# from sklearn.preprocessing import LabelEncoder
# labelencoder_X = LabelEncoder()

# X = X.apply(LabelEncoder().fit_transform)

from sklearn.tree import DecisionTreeClassifier

regressor = DecisionTreeClassifier(criterion='entropy',max_depth=5,splitter='best')
X

      0    1   2   3    4     5      6   7
0     6  148  72  35    0  33.6  0.627  50
1     1   85  66  29    0  26.6  0.351  31
2     8  183  64   0    0  23.3  0.672  32
3     1   89  66  23   94  28.1  0.167  21
4     0  137  40  35  168  43.1  2.288  33
..   ..  ...  ..  ..  ...   ...    ...  ..
763  10  101  76  48  180  32.9  0.171  63
764   2  122  70  27    0  36.8  0.340  27
765   5  121  72  23  112  26.2  0.245  30
766   1  126  60   0    0  30.1  0.349  47
767   1   93  70  31    0  30.4  0.315  23

[768 rows x 8 columns]

In [35]:
regressor.fit(X,Y)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='entropy',
                       max_depth=5, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [37]:
from sklearn.externals.six import StringIO
from IPython.display import Image
from sklearn.tree import export_graphviz
import pydotplus

dot_data = StringIO()

export_graphviz(regressor,out_file=dot_data,filled=True,rounded=True,special_characters=True,class_names=['0','1'])
graph = pydotplus.graph_from_dot_data(dot_data.getvalue())
graph.write_png('tree1.png')

True